<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Realtime feedback button</title>
</head>
<body>
    <h1>실시간 피드백을 주세요!</h1>
    
    <p><a href="/speaker">speaker</a></p>
    <p><a href="/audience">audience</a></p>
</html>