<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>audience</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }
        html, body {
            height: 100%;
        }
        #button {
            height: 100%; 
        }
    </style>
    <script>
        function toggle(){
            var req = new XMLHttpRequest();
            req.open('POST', 'button/toggle');
            req.send();
            req.onreadystatechange = function () {
                if (req.readyState === XMLHttpRequest.DONE) {
                    if (req.status === 200) {
                        console.log(req.responseText);
                    } else {
                        console.log('[' + req.status + ']: ' + req.statusText);
                    }
                }
            }
            
        }
        
        function changeGreen() {
            document.getElementById('button').style.backgroundColor = "green"
        }
        
        function changeRed() {
            document.getElementById('button').style.backgroundColor = "red"
        }
        
        setInterval(function() {
            const req = new XMLHttpRequest();
            req.open('POST', 'button/check');
            req.send();
            req.onreadystatechange = function () {
                if (req.readyState === XMLHttpRequest.DONE) {
                    if (req.status === 200) {
                        const obj = JSON.parse(req.responseText);
                        if (obj['clicked']) {
                            changeRed();
                        } else {
                            changeGreen();
                        }
                    } else {
                        console.log('[' + req.status + ']: ' + req.statusText);
                    }
                }
            }
        }, 1000);
        
    </script>
</head>
<body>
    <div id="button" onclick="toggle()"></div>
</body>
</html>